.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  border-radius: 40px;
  padding: 4px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 1.4rem 1.4rem 0 rgba(7, 7, 7, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #3198f3;
  color: white;
  border-radius: 60px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #54d071;
}

.incorrect {
  background-color: #f3273b;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #3fa2f8;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #459eec;
  width: 0%;
}